{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{% static 'books/css/materialize.min.css'%}"  media="screen,projection"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Rofi's Library</title>
    </head>

    <body>
        <div class="container">
            <h1 style="text-align: center;  color: red">Rofi's Library</h1>
            
            <form class="submit">
                <div class="input-field">
                    <input class="searchbox" type="text" style="background-color: inherit;">
                    <label for="searchbox">Enter the title of the book you are looking for!</label>
                </div>
                <button class="btn waves-effect searchbutton" action="submit" type="submit">Search</button>
            </form>
        </div>
        <div class ="container">
            <h2 style="text-align: center; color: red">Results</h2>
            <table>
                <thead>
                    <th>#</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Categories</th>
                    <th>Publisher</th>
                    <th>Cover</th>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>



        <script src="http://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
        <script type="text/javascript" src="{% static 'books/js/materialize.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'books/js/books.js' %}"></script>
    </body>

</html>
